.label {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 350px;
	gap: 5px;
	margin-left: 10px;
	margin-bottom: 20px;
	padding: 10px;
	box-shadow: 0 0 5px 1px #c9bfbf;
	border: 1px solid #b9a9a9;
}

.text {
	align-self: flex-start;
	padding-left: 35px;
}
