.listItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
	box-shadow: 0 0 5px 1px #f0d600;
	padding: 10px;
	min-width: 300px;
}

.item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.listData {
	display: flex;
	flex-direction: column;
}

.btnGroup {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.btn {
	background-color: #4a00ff;
	box-shadow: 0 0 1px 1px #00b3f0;
	background-color: rgb(255, 0, 0, 0.58);
}
.btnEdit {
	background-color: rgb(255, 247, 0, 0.7);
}

.editBlack {
	color: black;
}
